.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #015592;
    cursor: pointer;
    border-radius: 9999px;
    margin-top: -6px;
}
.slider-thumb::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #015592;
    cursor: pointer;
    border-radius: 9999px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
